@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
html {
  background-color: #F7F9FA;
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6em;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #222222;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 1100px;
}

.header {
  background-color: #FFF4F4;
}

.glheader {
  padding-top: 40px;
  height: 100px;
}

.glheader__title a {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  text-indent: -9999px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.glheader__sub {
  float: right;
}

.glheader__sub ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glheader__sub ul a {
  display: block;
  text-align: center;
  width: 50px;
  height: 20px;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  margin: 8px;
  border-radius: 2px;
  width: 50px;
  background-color: #DB848D;
  padding: 5px 20px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.glheader__sub ul i {
  display: block;
  font-size: 2.0rem;
}

.glheader__sub ul a:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.hnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hnav__item a {
  width: 220px;
  height: 50px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.hnav__item a img {
  width: 150px;
}

.hnav__item a:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.topbtn {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

.topbtn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  opacity: .6;
}

.topbtn a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #DB848D;
  font-size: 6.4rem;
}

footer {
  clear: both;
  height: 170px;
  padding-top: 45px;
  background-color: #aeaeae;
}

.glfooter__list {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
}

.glfooter__item {
  font-size: 1.3rem;
  color: #fff;
}

.glfooter__copy {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}

.top {
  height: 615px;
  margin-bottom: 60px;
}

.top__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 615px;
  width: 1100px;
  background-image: url(../images/hero2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.top__logo {
  display: block;
}

.top__logo img {
  height: 80px;
}

.about {
  height: 125px;
  text-align: center;
  margin-bottom: 80px;
}

.about img {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.about img:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.pickup {
  border-top: 3px dotted #eac7c4;
  padding-top: 40px;
}

.pickup__title {
  border-radius: 3px;
  background: #DB848D;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pickup__title img {
  width: 220px;
}

.pickup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.pickup__item1, .pickup__item2 {
  width: 535px;
  height: 260px;
  border: solid 1px #c2c2c2;
}

.pickup__item1 {
  background-image: url(../images/banner1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products {
  border-top: 3px dotted #eac7c4;
  padding-top: 40px;
}

.products__title {
  border-radius: 3px;
  background: #DB848D;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title img {
  width: 220px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.products__item img {
  width: 350px;
  height: 100px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.products__item img:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.news {
  border-top: 3px dotted #eac7c4;
  padding-top: 40px;
}

.news__title {
  border-radius: 3px;
  background: #DB848D;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__title img {
  width: 220px;
}

.news__box {
  position: relative;
  border: 1px solid #c2c2c2;
  height: 160px;
  margin-bottom: 120px;
  padding: 30px 0 0 0;
}

.news__list {
  width: 60%;
  margin: 0 auto;
}

.news__date {
  float: left;
  height: 30px;
  width: 100px;
  font-size: 2.0rem;
  color: #222222;
}

.news__contents {
  margin-left: 200px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 2.0rem;
  color: #222222;
}

.news__button {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.news__button img {
  float: right;
  height: 30px;
  border: 3px solid #DB848D;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.news__button img:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.rank {
  border-top: 3px dotted #eac7c4;
  padding-top: 40px;
}

.rank__title {
  border-radius: 3px;
  background: #DB848D;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank__title img {
  width: 220px;
}

.rank__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.rank__item {
  position: relative;
}

.rank__item img {
  border: solid 2px #c2c2c2;
  border-radius: 60% 70% 60% 70%;
  width: 360px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.rank__item img:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.rank__num {
  position: absolute;
  top: 0;
  left: 0;
  border: solid 3px #eac7c4;
  background-color: #eac7c4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rank__num span {
  color: #FFF4F4;
  font-size: 3.2rem;
  font-weight: bold;
}

.rank__caption {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}

.rank__price {
  font-size: 1.8rem;
  text-align: center;
}

.breadcrumb {
  height: 60px;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumb__item {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 1.4rem;
  letter-spacing: 5px;
  color: #222222;
}

.breadcrumb__item a span {
  text-decoration: underline;
}

.pagetop {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 150px;
  background-image: url(../images/logobase.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 60px;
}

.pagetop__logo img {
  -webkit-filter: drop-shadow(2px 2px 1px #fff);
          filter: drop-shadow(2px 2px 1px #fff);
  position: absolute;
  top: 30px;
  left: 30px;
}

.aboutbox {
  margin: 0 auto;
  height: 600px;
  color: #222222;
  margin-bottom: 100px;
  background-image: url(../images/aboutbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.aboutbox__title {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 50px;
  font-size: 30px;
  letter-spacing: 5px;
}

.aboutbox__contents span {
  display: block;
  text-align: center;
  letter-spacing: 5px;
  line-height: 3.0rem;
}

.newsbox {
  color: #222222;
  border: 1px solid #c2c2c2;
  margin-bottom: 100px;
}

.newsbox__list {
  padding: 60px 60px;
}

.newsbox__item {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-bottom: 1px dotted #DB848D;
}

.newsbox__img {
  display: block;
  background-color: #FFF4F4;
  margin-right: 50px;
}

.newsbox__img img {
  height: 150px;
  width: 150px;
}

.newsbox__contents {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsbox__date {
  margin-right: 30px;
}

.newsbox__title {
  height: 10px;
  margin-bottom: 20px;
}

.newsbox__text {
  font-size: 1.4rem;
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  margin-bottom: 50px;
}

.page-numbers li {
  background-color: #DB848D;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #DB848D;
}

.page-numbers li a {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #FFF4F4;
}

.page-numbers li span {
  width: 30px;
  height: 30px;
  text-align: center;
}

.current {
  background-color: #FFF4F4;
  color: #DB848D;
}

.storecategory__title {
  border-radius: 3px;
  background: #DB848D;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storecategory__title img {
  width: 220px;
}

.storecategory__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storecategory__item img {
  width: 350px;
  height: 100px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.storecategory__item img:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.storebox {
  color: #222222;
  font-weight: normal;
  padding-top: 60px;
}

.storebox__title {
  border-top: 1px solid #c2c2c2;
  font-size: 3.4rem;
}

.storebox__title img {
  height: 70px;
}

.storebox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.storebox__item {
  width: 360px;
}

.storebox__item__link {
  display: block;
}

.storebox__item img {
  width: 360px;
  height: 280px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.storebox__item img:hover {
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  opacity: 0.5;
}

.storebox__item__name {
  height: 25px;
  text-align: center;
  font-size: 2.0rem;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.storebox__item__price {
  height: 40px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
}

.storesinglebox {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.slider {
  display: block;
  width: 48%;
  margin-left: 100px;
}

.detail {
  color: #222222;
  display: block;
  width: 48%;
  float: right;
}

.detail__box {
  margin: 90px 50px;
}

.detail__name {
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 15px;
}

.detail__price {
  font-weight: normal;
  font-size: 2.0rem;
  margin-bottom: 15px;
}

.detail__desc {
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.detail__select {
  height: 30px;
  margin-bottom: 15px;
}

.detail__num {
  height: 40px;
  width: 50px;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.detail__cart {
  width: 150px;
  height: 50px;
  font-size: 1.6rem;
  background-color: #DB848D;
  border: none;
  color: #eee;
  border: 1px solid #fff;
}

.shopbox {
  margin-bottom: 80px;
}

.shopbox__list {
  padding: 20px 70px;
}

.shopbox__item {
  color: #222222;
  font-size: 1.6rem;
  padding-top: 10px;
  height: 40px;
}

.shopbox__item dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.shopbox__item__name {
  width: 300px;
}

.shopbox__item__address {
  width: 550px;
}

.shopbox__item__address p {
  margin-bottom: 5px;
}

.shopbox__item__tel {
  width: 280px;
}

/*ボックス全体*/
.accbox {
  margin: 2em 0;
  padding: 0;
}

/*ラベル*/
.accbox label {
  display: block;
  margin: 1.5px 0;
  padding: 13px 12px;
  color: #FFF4F4;
  background: #DB848D;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

/*アイコンを表示*/
.accbox label:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f101';
  font-weight: 900;
  padding-right: 8px;
}

/*ラベルホバー時*/
.accbox label:hover {
  opacity: 0.5;
}

/*チェックは隠す*/
.accbox input {
  display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
  height: auto;
  padding: 5px;
  background: #FFF4F4;
  opacity: 1;
}

/*アイコンを入れ替える*/
.cssacc:checked + label:before {
  content: '\f103';
}

.contactbox {
  color: #222222;
}

.contactbox__text {
  letter-spacing: 0.4rem;
  line-height: 2.0rem;
  margin-bottom: 40px;
}

.contactbox__area {
  border: 1px solid #c2c2c2;
  padding: 40px 230px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.contactbox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
  width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.contactbox__label {
  width: 250px;
  padding-right: 20px;
}

.contactbox__label::after {
  content: "必須";
  margin-left: 20px;
  font-size: 1.2rem;
  background-color: #DB848D;
  border-radius: 2px;
  padding: 0 2px;
  color: #fff;
}

.contactbox__name, .contactbox__kana, .contactbox__tel, .contactbox__mail, .contactbox__content, .contactbox__tarea {
  width: 600px;
}

.contactbox__name, .contactbox__kana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactbox__name input, .contactbox__kana input {
  width: 50%;
  padding: 0 5px;
  border: 1px solid #c2c2c2;
  height: 30px;
  font-size: 1.6rem;
}

.contactbox__name input:first-child, .contactbox__kana input:first-child {
  margin-right: 10px;
}

.contactbox__tel input {
  width: 100%;
  padding: 0 0 0 5px;
  border: 1px solid #c2c2c2;
  height: 30px;
  font-size: 1.6rem;
}

.contactbox__mail input {
  width: 100%;
  padding: 0 0 0 5px;
  border: 1px solid #c2c2c2;
  height: 30px;
  font-size: 1.6rem;
}

.contactbox__content select {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #c2c2c2;
  height: 30px;
  font-size: 1.6rem;
}

.contactbox__tarea {
  padding: 0 5px;
  border: 1px solid #c2c2c2;
  height: 100px;
  font-size: 1.6rem;
}

.contactbox__confirm {
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
  text-align: center;
}

.contactbox__confirm input {
  width: 200px;
  height: 50px;
  font-size: 2.2rem;
  background-color: #DB848D;
  border: none;
  color: #eee;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.contactbox__confirm:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.contactbox__warning {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contactconf {
  margin-top: 40px;
  border: 1px solid #c2c2c2;
  padding: 80px 200px;
  margin-bottom: 80px;
}

.contactconf__text {
  color: #222222;
  letter-spacing: 0.2rem;
  margin-bottom: 30px;
}

.contactconf__table {
  border: 1px solid #c2c2c2;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contactconf__topic {
  color: #FFF4F4;
  font-weight: normal;
  width: 200px;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #c2c2c2;
  background-color: #DB848D;
}

.contactconf__content {
  width: 250px;
  padding: 10px;
  border: 1px solid #c2c2c2;
}

.contactconf__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactconf__done {
  margin: 0 5px;
  width: 200px;
  height: 50px;
  font-size: 2.2rem;
  background-color: #DB848D;
  border: none;
  color: #eee;
  border: 1px solid #DB848D;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.contactconf__done:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.contactconf__return {
  margin: 0 5px;
  width: 200px;
  height: 50px;
  font-size: 2.2rem;
  background-color: #FFF4F4;
  border: none;
  color: #DB848D;
  border: 1px solid #DB848D;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.contactconf__return:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.contactconf__toplink a {
  color: #DB848D;
}
/*# sourceMappingURL=style.css.map */